@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #2563eb;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #ffffff;
    overflow-x: hidden;
  }
}

/* custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba((100, 100, 100, 0.4));
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  /* Animate text with a shine effect */

  @keyframes text-shine {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }

  .animate-text-shine {
    animation: text-shine 3s ease-in-out infinite alternate;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-200 outline-none focus-within:border-blue-400;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-orange-500 shadow-lg p-[10px] rounded-lg my-1 hover:bg-orange-600 cursor-pointer;
}

.btn-small {
  @apply flex items-center gap-2 text-[13px] font-semibold text-white bg-blue-600 px-5 py-1.5 rounded-lg cursor-pointer hover:bg-blue-700;
}

.btn-small-light {
  @apply flex items-center gap-2 text-[12px] font-semibold text-blue-800 bg-blue-50 border border-blue-100 hover:border-blue-300 px-3 py-1.5 rounded-lg cursor-pointer;
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-gray-200 px-2.5 py-3 rounded-lg mt-2 placeholder:text-gray-500 focus-within:border-blue-400;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease forwards;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@media print {
  body * {
    visibility: hidden;
  }

  .resume-container,
  .resume-container * {
    visibility: visible;
  }

  .resume-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm !important;
  }
}
